# Libraries for LangChain and LangGraph

langchain
langchain_groq
langchain_google_genai
langchain_openai
langchain_tavily
langchain_mcp_adapters
langgraph
langsmith
mcp
ipykernel
python-dotenv

# Libraries for RAG

langchain
langchain_core
langchain_community
langchain_unstructured
pypdf
pymupdf
unstructured[all-docs] # Dependecy for UnstructuredFileLoader
unstructured-inference # Dependecy for UnstructuredFileLoader

sentence-transformers # embeddings
faiss-cpu # vector storage local
langchain_huggingface # Wrapper which internally uses sentence-transformers

langchain_qdrant # For Cloud Vector Storage DB
qdrant_client # Qdrant Client